[submodule "vendor/boogie"]
	path = vendor/boogie
	url = https://github.com/PLSysSec/boogie.git
	branch = cachet
[submodule "vendor/corral"]
	path = vendor/corral
	url = https://github.com/PLSysSec/corral.git
	branch = cachet
